@tailwind base;

body {
  overflow-x: hidden !important;
}

.guardianblue {
  background-color: #000a8d;
  /* color: #000a8d; */
}

.guardianbluetext {
  color: #000a8d;
}

#laptop {
  width: 525px;
}

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

/* text */

.complianceblue {
  background-color: #27aecc;
}

.compliancebluetext {
  color: #27aecc;
}

/* font */

p,
h1 {
  font-family: 'Poppins';
}

.poppins {
  font-family: 'Poppins';
}

/* carousel colours */

.tab1 {
  background-color: #27aecc;
}

.tab2 {
  background-color: #1f7d9c;
}

.tab3 {
  background-color: #2b5794;
}

/* mobiles images */

.backgroundBlue {
  background-color: #def3f6;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.transitionMenu {
  animation: fadeIn 1.5s;
}

@tailwind components;

@tailwind utilities;
