@tailwind base;

body {
  overflow-x: hidden !important;
}

.guardianblue {
  background-color: #000a8d;
  /* color: #000a8d; */
}

.guardianbluetext {
  color: #000a8d;
}

#mainImage {
  height: 700px;
  width: 100%;
  background-image: url(../assets//images/gwebgreen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 402px 620px;
}

#mainImage2 {
  width: 24rem;
}

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

/* animated charts */
.single-chart {
  width: 85%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 8px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 2.8;
}

.circle {
  fill: none;
  stroke-width: 2.5;
  stroke-linecap: round;
  animation: progress 4s ease-out forwards;
}

.circle2 {
  fill: none;
  stroke-width: 1.8;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ef7009;
}

.circular-chart.green .circle {
  stroke: #ffcf12;
}

.circular-chart.blue .circle {
  stroke: #a7ce00;
}

.circular-chart.emerald .circle {
  stroke: #00ce9b;
}

.percentage {
  fill: black;
  font-family: sans-serif;
  font-size: 0.38em;
  font-weight: bold;
  text-anchor: middle;
}

@media only screen and (max-width: 600px) {
  .carodiv {
    width: 250px;
    height: 250px;
  }
}

/* pulse */

.blob {
  background: #21ba45;
  border-radius: 50%;
  margin: 10px;
  height: 30px;
  width: 30px;
  border: 4px solid white;
  margin-bottom: 75px;
  margin-top: 50px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pullse 2.5s infinite;
}

#blob {
  height: 700px;
}

@keyframes pullse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(25, 146, 54, 0.3);
  }
  95% {
    transform: scale(1);
    box-shadow: 0 0 0 150px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@tailwind components;

@tailwind utilities;
