@tailwind base;

body {
  overflow-x: hidden !important;
}

.guardianblue {
  background-color: #000a8d;
  /* color: #000a8d; */
}

.guardianbluetext {
  color: #000a8d;
}

#laptop {
  width: 525px;
}

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

/* pulse */

.blob {
  background: #b8c7dc;
  border-radius: 50%;
  margin: 10px;
  height: 35px;
  width: 35px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pullse 2.5s infinite;
}

#blob {
  height: 100px;
}

@keyframes pullse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(184, 199, 220, 0.3);
  }
  95% {
    transform: scale(1);
    box-shadow: 0 0 0 150px rgba(198, 225, 237, 0.4);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* text */

.complianceblue {
  background-color: #27aecc;
}

.compliancebluetext {
  color: #27aecc;
}

/* font */

p,
h1 {
  font-family: 'Poppins';
}

/* carousel colours */

.tab1 {
  background-color: #27aecc;
}

.tab2 {
  background-color: #1f7d9c;
}

.tab3 {
  background-color: #2b5794;
}

@tailwind components;

@tailwind utilities;
